# This is Git's per-user configuration file.
[user]
# Please adapt and uncomment the following lines:
	name = mels
	email = chanatan.melmel@gmail.com
[credential]
	helper = "!f() { /home/node/.vscode-server/bin/dc96b837cf6bb4af9cd736aa3af08cf8279f7685/node /tmp/vscode-remote-containers-d1eda037-f63b-4773-a943-0d7cb714e4b8.js git-credential-helper $*; }; f"
